{
    "root": true,
    "extends": "@notum-cz/eslint-config-notum-react/hooks",
    "overrides": [
      {
        "files": ["**/store/**/*.ts"],
        "rules": {
          "@typescript-eslint/no-explicit-any": "off"
        }
      }
    ]
  }
